body {
    background: linear-gradient(#ee9696, #9198e5);
    color: white;
    min-height: 100vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: none;
    border-radius: 15px;
    
}

.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10%;
    height: auto;
    max-width: 5px;
    border-radius: 50%;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
}

a {
    color: white;
    display: block;
    border: 2px solid white;
    padding: 10px 20px;
    margin-bottom: 15px;
    max-width: 350px;
    margin: 0 auto 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}

h2 {
    font-size: 23px;
    text-transform: uppercase;
}

.channels {
    display: flex;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.channels a {
    flex: 1;
    font-size: 21px;
    text-transform: lowercase;
    padding: 10px;
}

.channels a:hover {
    color: rgb(187, 40, 187);
    cursor: pointer;
    background: yellow;
}
.featured a:hover {
    color: rgb(187, 40, 187);
    cursor: pointer;
    background: yellow;
}

.links a:hover{
    color: rgb(187, 40, 187);
    cursor: pointer;
    background: yellow;
}